@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url('/src/assets/board.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chalk {
  font-family: 'Patrick Hand', cursive;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px #000;
}